<!DOCTYPE html>
<html lang="en"><!--make language to web-->
<head>
	<meta charset="UTF-8">
	<title>CMM19</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/home.css">
</head>
<body>
	<!--COMMENT-->
	<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"><!--make logo markup-->
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">LIVING</a>
			<a href="#" class="navbar-item">SOCLAL</a>
			<a href="#" class="navbar-item">VIDEO</a>
			<a href="#" class="navbar-item">ACTIVITIES</a>
			<a href="#" class="navbar-item">GALLERY</a>
			<a href="#" class="navbar-item">CONTACT</a>
		</nav>
	</header>

	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item">
						<h1>Hello</h1>
					</div>
				</div>
			</div>
			<div class="thumbnail">
				<div class="columns is-marginless">
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					</div>
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
						sed do eiusmod tempor incididunt
					</div>
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					</div>
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
						Sed ut perspiciatis unde omnis
					</div>
				</div>
			</div>
		</section >

		<section class="section we-present">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a>
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
				<div class="columns is-multiline"> <!--columns include s *-->
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1"> 
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space1</h5>
								<h3 class="title is-spaced is-4">Public Space11</h3>
								<h4 class="subtitle is-6">เรื่องของฉัน</h4>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-2.jpg" alt="image-2"> 
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space2</h5>
								<h3 class="title is-spaced is-4">Public Space22</h3>
								<h4 class="subtitle is-6">เรื่องของฉัน</h4>
								<p>
									vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-3.jpg" alt="image-3"> 
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space3</h5>
								<h3 class="title is-spaced is-4">Public Space33</h3>
								<h4 class="subtitle is-6">เรื่องของฉัน</h4>
								<p>
									veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-4.jpg" alt="image-4"> 
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space4</h5>
								<h3 class="title is-spaced is-4">Public Space44</h3>
								<h4 class="subtitle is-6">เรื่องของฉัน</h4>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-5.jpg" alt="image-5"> 
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space5</h5>
								<h3 class="title is-spaced is-4">Public Space55</h3>
								<h4 class="subtitle is-6">เรื่องของฉัน</h4>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-6.jpg" alt="image-6"> 
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space6</h5>
								<h3 class="title is-spaced is-4">Public Space66</h3>
								<h4 class="subtitle is-6">เรื่องของฉัน</h4>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
								</p>
							</div>
						</div>
					</a>
				</div>

			</div>
		</section>
	</main>
</body>
</html>