<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"><!--make logo markup-->
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">LIVING</a>
			<a href="#" class="navbar-item">SOCLAL</a>
			<a href="#" class="navbar-item">VIDEO</a>
			<a href="#" class="navbar-item">ACTIVITIES</a>
			<a href="#" class="navbar-item">GALLERY</a>
			<a href="#" class="navbar-item">CONTACT</a>
		</nav>
	</header>